*{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
}

body{
    background-color: #F3F5Fc;
}

.main{
    display:flex;
    margin-left: 80px;
    margin-bottom:50px;
}

.input-texto{
    border-radius: 15px;
    margin-top:50px;
}

.mensagem{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 15px;
    background-image: url("img/boneco_alura.png"); 
    background-repeat: no-repeat;
    background-position: center;
    text-align:center;
}

.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.encriptar{
    background-color: darkblue;
    color:white;
    padding: 0px 50px;
    border:1px solid rgba(0, 0, 0, 0.521);
    border-radius: 10px;
}

.desencriptar{
    margin-left:30px;
    padding: 0px 50px;
    border:1px solid rgba(0, 0, 0, 0.521);
    border-radius: 10px;
}

.copiar{
    margin-left: 180px;
    padding: 0px 50px;
    border:1px solid rgba(0, 0, 0, 0.521);
    border-radius: 10px;
}

.informacao{
    font-size: 15px;
}


.rodape{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}